@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-background: #11131c;
  --color-on-background: #e1e1ef;

  --color-primary: #e5deff;
  --color-primary-container: #9d8dff;
  --color-on-primary-container: #1a0064;

  --color-secondary: #62dbbc;
  --color-on-secondary: #00382c;

  --color-text-muted: #d1ccdf;

  --color-glass-surface: rgba(255, 255, 255, 0.04);
  --color-glass-border: rgba(255, 255, 255, 0.08);
  --color-glass-highlight: rgba(255, 255, 255, 0.1);

  /* Spacing */
  --spacing-gutter: 2.4rem;
  --spacing-container: 3.2rem;

  /* Typography */
  --font-sans: "Cause", cursive;
  --font-mono: "Chelsea Market", system-ui;

  /* Box shadows */
  --shadow-glow: 0 0 40px rgba(157, 141, 255, 0.15);
  --shadow-drop: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  --shadow-text-custom: 2px 2px 4px rgba(255, 255, 255, 0.4);
}

@utility text-shadow-glow {
  text-shadow: var(--shadow-text-custom);
}
